<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="Home-header">
        <div class="header-logo-input-p__box">
            <div class="header-logo-input__box">
                <div class="Home-Header-Logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="Header-form__box">
                    <form action="" class="container">
                        <input type="text" placeholder="Buscar productos, marcas">
                        <button class="Home-Header-icon-lupa"><i class="fa-solid 
                    fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="Home-Header-cuotas">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav class="header-menu__box">
            <div class="header-menu_div1">
                <ul>
                    <li><a href="Ofertas">Ofertas</a></li>
                    <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
                    <li><a href="Vender">Vender</a></li>
                    <li><a href="Ayuda">Ayuda</a></li>
                </ul>
            </div>
            <div class="header-menu_div2">
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="Mis compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </div>
        </nav>
        <div class="Home-Header-menu">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </div>
    </header>
    <main>
        <form>
            <div class="form-login__box">
                <div class="div-login-input__box">
                    <label for="Nombre y apellido"></label>
                    <input type="text" placeholder="Nombre de usuario" name="Nombre de usuario" id="Nombre y apellido" class="input__login">
                </div>
                <div class="div-login-input__box">
                    <input type="password" placeholder="Contraseña" name="password" id="password" class="input__login">
                    <label for="password"></label>
                </div>
                <div class="div-login__button">
                    <button type="submit"><a href="/">Enviar</a></button>
                </div>
            </div>
        </form>
    </main>
    <footer class="Home-footer">
        <section class="Home-footer-section">
            <article>
                <div class="Home-footer-section-div">
                    <i class="fa-solid fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </article>
            <article>
                <div class="Home-footer-section-div">
                    <i class="fa-solid fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </article>
            <article>
                <div class="Home-footer-section-div">
                    <i class="fa-solid fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </article>
        </section>
        <div class="Home-footer-section-div-p">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>